body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
  }
  
  .sidebar {
    flex: 1;
    background-color: #2196F3;
    min-width: 300px;
  }
  
  .main-content {
    flex: 3;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    width: 80%;
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  label, input, select {
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
  }
  
  .reset-button {
    background-color: #FF5722;
    color: white;
  }
  
  .continue-button {
    background-color: #4CAF50;
    color: white;
  }

  label{
    color: var(--bs-secondary)!important;
  }
  