body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
  }
  
  .sidebar {
    background-color: #2196F3;
    width: 120px;
  }
  
  .main-content {
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    width: 80%;
    margin: 0 auto;
  }
  
  .form-row {
    margin-bottom: 20px;
    margin-left: -130px;
  }
  input{
    border: none;
    border-bottom: var(--bs-secondary) solid 1px;
  }
  select{
    border: none;
    border-bottom: var(--bs-secondary) solid 1px;
  }
  .input-group {
    flex-direction: column;
    margin-left: 60px;
  }
  #first-name{
   margin-right: 800px;
  }
  #lastname{
    margin-right: 550px;
    margin-top: -63px;
    margin-left: 250px; 
  }
  #last-name{
    margin-right: 550px;
    margin-top: 1px;
    margin-left: 250px;
  }
  #email2{
    margin-left: -130px;
    margin-top: 10px;
  }
  #email{
    margin-right: 750px;
    margin-left: -130px;
    margin-bottom: 10px;
  }
  #userid{
    margin-top: -71px;
    margin-left: 120px;
  }
  #user-id{
    margin-right: 650px;
    margin-left: 120px;
  }
  #Country2{
    margin-left: -130px;
    margin-top: 15px;
  }
  #country{
    margin-right: 850px;
    margin-left: -135px;
  }
  #state{
    margin-right: 650px;
  }
  #city{
    margin-right: 650px;
  }
  #phone{
    margin-right: 650px;
  }
  #reference-code{
    margin-right: 650px;
  }
  label, input, select {
    margin-bottom: 10px;
  }

  .reference-code{
    margin-left: 100px;
  }
  
  .buttons {
    align-items: center; 
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    
  }
  
  .reset-button {
    background-color: #FF5722;
    color: black;
    
  }
  
  .continue-button {
    background-color: #2196F3;
    color: white;
    margin-left: 700px;
    border-radius: 150px;
  }

  label{
    color: var(--bs-secondary)!important;
  }
  