body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
  }
  
  .sidebar {
    background-color: #2196F3;
    width: 120px;
  }
  
  .main-content {
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    width: 80%;
    margin: 0 auto;
  }
  
  .form-row {
    margin-bottom: 20px;
    margin-left: -130px;
  }
  
  .input-group {
    flex-direction: column;
    margin-left: 60px;
  }
  #first-name{
    display: flex;
    margin-right: 650px;
  }
  #last-name{
    display: flex;
    margin-right: 650px;
  }
  #email{
    display: flex;
    margin-right: 650px;
  }
  #user-id{
    display: flex;
    margin-right: 650px;
  }
  #country2{
    display: flex;
    margin-right: 650px;
  }
  #state{
    display: flex;
    margin-right: 650px;
  }
  #city{
    display: flex;
    margin-right: 650px;
  }
  #phone{
    display: flex;
    margin-right: 650px;
  }
  #reference-code{
    display: flex;
    margin-right: 650px;
  }
  label, input, select {
    margin-bottom: 10px;
  }

  .reference-code{
    margin-left: 100px;
  }
  
  .buttons {
    align-items: center; 
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    
  }
  
  .reset-button {
    background-color: #FF5722;
    color: black;
    
  }
  
  .continue-button {
    background-color: #2196F3;
    color: white;
    margin-left: 700px;
    border-radius: 150px;
  }

  label{
    color: var(--bs-secondary)!important;
  }
  